/* index Header */

/* small device  */
@media screen and (max-width:576px) {

    .arro,
    .navber,
    .bottom-arrow {
        display: none;
    }

    .hide {
        display: block;
    }

    header {
        max-width: 430px;
        margin: 0 auto;
        height: auto;
    }

    .phone-nav {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 40px;
    }

    .header-title {
        padding-top: 30px;
        text-align: center;
        font-size: 3rem;
    }

    .header-description {
        width: 340px;
        text-align: center;
        margin: 0 auto;
    }

    .btn-primary {
        margin: 0 auto;
    }

    .header-hero-container,
    .header-right-side {
        margin: 0 auto;
        flex-direction: column;
    }

    .single-img {
        border: none;
        padding: 20px 0 20px 0;
    }

    .coxs-bazar {
        border: none;
    }










    /* Start Booking  */
    .booking-header-container {
        max-width: 430px;
        height: 100vh;
        margin: 0 auto;
    }

    .booking-header-right-side {
        margin: 0 auto;
        width: 320px;
        padding: 0px;
        background: unset;
    }

    form {
        /* width: 400px;
    height: 400px; */
        margin: 0 auto;
    }

    .dhaka {
        width: 300px;
        height: 20px;

    }

    .from-to {
        width: 130px;
        height: 20px;
    }

    .s-booking {

        width: 320px;
        height: 40px;
    }

    .booking-bottom-arrow {
        display: none;
    }

    /* LOgin page */
    .login-class {
        margin-top: 29px;
        padding: 25px;
        margin: 0 auto;
        border: 0px solid rgb(171, 171, 171);
        border-radius: 4px;
        width: 320px;
        background: rgba(255, 255, 255, 0.2);
    }


    .login-input{
        width: 300px;
    }
    .login-btn {
        padding: 15px 140px}
    .facebook-login {
        margin-left: 20px;
        display: flex;
        border: 1px solid rgb(199, 199, 199);
        border-radius: 57px;
        width: 300px;
        height: 51px;
    }



















}

/* Large Device */
@media screen and (min-width:577px) and (max-width:1024px) {



    .responsive-hide,
    .arro,
    .booking-bottom-arrow {
        display: none;
    }

    .header-hero-container {
        flex-direction: column;
        margin-top: 120px;
        margin: 0 auto;
    }

    .header-title {
        text-align: center;
    }

    .header-description {
        width: 550px;
        margin: 0 auto;
        text-align: center;
    }

    .header-right-side {
        padding-top: 20px;
        margin: 0 auto;
    }

    .coxs-bazar {
        border: 2px solid orange;
    }

    .btn-primary {
        margin: 0 auto;
    }

    .navber {
        display: flex;
        justify-content: space-around;
    }

    /* booking */
    .booking-header-right-side {
        margin: 0 auto;
        width: 320px;
        padding: 0px;
        background: unset;
    }

    .dhaka {
        width: 300px;
    }

    .from-to {
        width: 130px;
    }

    .s-booking {
        width: 325px;
        /* height: 0; */
    }
}